.login-card {
    max-width: 390px;
    padding: 15px;
    margin: auto;
}

.cadastrar-card {
    max-width: 560px;
    padding: 15px;
    margin: auto;
}

.recuperar_login_senha_1 {
    width: 100%;
    margin: 0;
}

.recuperar_login_senha_2 {
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
}

.recuperar_login_senha_3 {
    margin: 0 20px;
    max-width: 400px;
    display: inline-block;
}